/*goole fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&family=The+Nautigal:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;

}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(images/donation13.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: .8;


}

a {
    text-decoration: none;

}

.header-content {
    margin-bottom: 150px;
    color: #fff;
    text-align: center;
}

.header-content h1 {
    font-size: 8vmin;
    margin-top: 50px;
    margin-bottom: 30px;


}

.header-content p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.donate-button {
    padding: 20px 30px;
    background: tomato;
    border-radius: 15px;
    color: whitesmoke;
    font-weight: 600;
    position: absolute;
}

.donate-today {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

.donate-today h1 {
    font-size: 36px;
    font-weight: 600;
}

.donate-today p {
    color: gray;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin: 10px auto;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-between;

}

.donate-tk {
    flex-basis: 15%;
    background: #e2dada;
    margin-bottom: 3%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: rgb(66, 63, 63);
}

.select-amount {
    border: 1px solid red;
}

h2 {
    text-align: center;
    font-weight: 700;
    margin: 10px 0;
}

.donate-area p {
    font-size: 3vmin;
    margin-left: 80px;
}

.line {
    width: 500px;
    height: 2px;
    background: rgb(148, 134, 134);
    margin: 10px auto;
    border-radius: 5px;
}

.donate-plan {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

.donate-plan h1 {
    font-size: 36px;
    font-weight: 600;
}

.donate-plan p {
    color: gray;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.donate-box {
    margin: 10px auto;
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: space-between;

}

.food {
    flex-basis: 31%;
    background: #f1dddd;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;

}

.shelter {
    flex-basis: 31%;
    background: #93e080;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;

}

.education {
    flex-basis: 31%;
    background: #b2d66e;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

#gallery {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 244, 244);
}

.heading {
    text-align: center;
    margin: 5px;
    font-weight: 600;
}

.our-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.our-gallery img {
    width: 460px;
    height: 540px;
    padding: 10px;
    margin: 10px;
}

.our-gallery img:hover {
    background-color: rgb(214, 55, 15);
    cursor: pointer;
}

.update-info {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

.update-info h1 {
    font-size: 36px;
    font-weight: 600;
}

.update-info p {
    color: gray;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    margin-bottom: 10px;
}

.email-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-bottom: 10%;
}

.form-box {
    padding: 40px 100px;
    border-radius: 5px;
    background: #f1dddd;
    box-shadow: 30px 30ox 45px rgb(241, 192, 184);
}

.form-box input {
    font-size: 15px;
    color: grey;
    padding: 15px 20px;
    border: none;
    outline: none;
    background: ghostwhite;
}

.form-box button {
    color: white;
    padding: 15px 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background: tomato;
}

footer {
    width: 100%;
    height: 100%;
    background: black;
    text-align: center;
    margin: 30px 30px 0 30px;
}

.footer-heading h1 {
    font-family: 'The Nautigal', cursive;
    font-weight: 500;
    color: whitesmoke;
}

.footer-heading p {
    color: rgb(3, 112, 112);
    position: relative;
}